
.nav{
text-align: center;
margin-left: auto;
margin-right: auto;
}
.link-item{
text-decoration: none;
margin-left: 35px;
margin-right: 35px;
color: #e70f0f;
}
h1{
color: blue;
display: inline-block;
}
h1:hover{
    border-bottom:2px solid red ;
}

.img{
float: left; 
width: 25%;
opacity: 0.2;
transition: opacity 2s ;
transition-timing-function: ease-in-out;
}
.footer{
background-color: rgb(65, 61, 66);
margin: 5px;
text-align: center;
color: white;
}
.img:hover{
    border-bottom:2px solid red ;
   opacity: 1;
}
